@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><img src="~/images/AWS_logo_RGB.png" class="aws-logo" /> <i class="fa fa-heart red"></i> ASP.NET!</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript. Amazon Web Services provides a highly reliable, scalable, low-cost infrastructure platform in the cloud that powers hundreds of thousands of businesses in 190 countries around the world. Together, they enable you to build scalable, secure applications while leveraging the power of .NET.</p>
    <p><a href="https://aws.amazon.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>AWS Elastic Beanstalk</h2>
        <h4>Easy to begin, Impossible to outgrow</h4>
        <p>
            AWS Elastic Beanstalk for .NET makes it easier to deploy, manage, and scale your ASP.NET web applications that use Amazon Web Services. Elastic Beanstalk for .NET is available to anyone who is developing or hosting a web application that uses IIS.
        </p>
        <p><a class="btn btn-default" href="https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/dotnet-getstarted.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Install the AWS Toolkit!</h2>
        <p>The AWS Toolkit for Visual Studio is an extension for Microsoft Visual Studio running on Microsoft Windows that makes it easier for developers to develop, debug, and deploy .NET applications using Amazon Web Services. With the AWS Toolkit for Visual Studio, you'll be able to get started faster and be more productive when building AWS applications.</p>
        <p><a class="btn btn-default" href="https://aws.amazon.com/visualstudio/">Get Started &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>But that's not all...</h2>
        <p>
            Get started quickly using AWS with the AWS SDK for .NET. The SDK helps take the complexity out of coding by providing .NET APIs for AWS services including Amazon S3, Amazon EC2, Amazon DynamoDB and more. The SDK can be downloaded from NuGet or installed using the MSI package, which also includes the AWS Toolkit for Microsoft Visual Studio 2013 and 2015 editions and the AWS Tools for Windows PowerShell.
        </p>
        <p><a class="btn btn-default" href="https://aws.amazon.com/sdk-for-net/">Learn more &raquo;</a></p>
    </div>
</div>